@model float

@{ if (Model < 2)
    { <span style="color:green">@Model %</span> }
else if (Model < 5)
{ <span style="color:yellow">@Model %</span> }
else if (Model < 8)
{ <span class="oranje">@Model %</span> }
else
{ <span style="color:red">@Model %</span> }
    }

