@{
    ViewBag.Title = "Wis Page";
}

<div class="jumbotron">
    <div class="hide">
        <h1>Cookies</h1>
        <p class="lead">Cookie werd gewist</p>
        <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>
    </div>

    <h1>Sessionstate</h1>
    <p class="lead">Sessionvariabele en applicationvariabele werd gewist.</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>
</div>

