
@{
    ViewBag.Title = "Palindroom";
}

<h2>Palindroom</h2>
@if (ViewBag.Palindroom != null)
{
@: @ViewBag.ingetiktwoord<text> is </text>
if (ViewBag.Palindroom)
{
    <text>een </text>
}
else
{
    <text>geen </text>
}
    @: palindroom.
        }

